#mypic {
  height: 200px;
}

.col-sm-8 {
  background-color: #eee;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.well {
  background-color: #d9edf7;
}

.well ul {
  background-image: linear-gradient(#d9edf7, lightblue);
  border-style: solid;
  border-width: medium;
  border-color: lightblue;
}

.well ul ul {
  border-style: none;
  background: transparent;
}

#education {
  background-image: url("https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  color: white;
}

#hobbies {
  background-image: url("https://images.pexels.com/photos/89699/pexels-photo-89699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  color: white;
}

#skills {
  background-image: url("https://images.pexels.com/photos/248515/pexels-photo-248515.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  color: white;
}

.title {
  background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 -10px;
}
