#mypic {
  height: 200px;
}

.col-sm-8 {
  background-color: #eee;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.well {
  background-image: linear-gradient(#2980b9, #2c3e50);
  padding: 5px;
  padding-top: 0px;
}

.well ul {
  background-image: linear-gradient(#d9edf7, lightblue);
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.well ul ul {
  border-style: none;
  background: transparent;
}

#education {
  background-color: green;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 25%;
  color: white;
}

#hobbies {
  background-color: brown;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 35%;
  color: white;
}

#skills {
  background-color: purple;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 35%;
  color: white;
}

.title {
  background-image: linear-gradient(#2980b9, #2c3e50);
  margin: 0 -15px;
  color: white;
  padding-bottom: 30px;
}

.jumbotron h2 {
  font-size: 42px;
}

#nerd2 {
  height: 200px;
  margin-right: 10px;
}

.about-me {
  background-color: #2980b9;
  color: white;
}

.panel-heading {
  color: white;
  font-weight: bold;
}

.aboutme-header {
  background-image: linear-gradient(#2980b9, #2c3e50);
}

.workexp-header {
  background-image: linear-gradient(#2980b9, #2c3e50);
}

#lowertag {
  padding-left: 4.00em;
  font-style: italic;
  color: lightgray;
}
