#mypic {
  height: 200px;
}

.col-sm-8 {
  background-color: #eee;
  text-align: center;
}

.panel-heading {
  text-align: center;
}

.well {
  background-color: #d9edf7;
}

.well ul {
  background-image: linear-gradient(#d9edf7, lightblue);
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.well ul ul {
  border-style: none;
  background: transparent;
}

#education {
  background-color: #337ab7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 25%;
  color: white;
}

#hobbies {
  background-color: #337ab7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 35%;
  color: white;
}

#skills {
  background-color: #337ab7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-indent: 35%;
  color: white;
}

.title {
  background-image: linear-gradient(#2980b9, #2c3e50);
  margin: 0 -10px;
  color: white;
}

.jumbotron h2 {
  font-size: 42px;
}

#nerd2 {
  height: 200px;
  margin-right: 10px;
}
